## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:


**Data From The General Social Survey: http://gss.norc.org/**
>Since 1972, the General Social Survey (GSS) has provided politicians, policymakers, and scholars with a clear and unbiased perspective on what Americans think and feel about such issues as national spendiâ€‹ng priorities, crime and punishment, intergroup relations, and confidence in institutions.
>> **The GSS gathers data on contemporary American society in order to monitor and explain trends and constants in attitudes, behaviors, and attributes.**  Hundreds of trends have been tracked since 1972. In addition, since the GSS adopted questions from earlier surveys, trends can be followed for up to 80 years.<br><br>
>> The GSS contains a **standard core of demographic, behavioral, and attitudinal questions, plus topics of special interest.** Among the topics covered are *civil liberties, crime and violence, intergroup tolerance, morality, national spending priorities, psychological well-being, social mobility, and stress and traumatic events.*<br><br>
>> **Altogether the GSS is the single best source for sociological and attitudinal trend data covering the United States.**
>> It allows researchers to examine the *structure and functioning of society in general* as well as the *role played by relevant subgroups* and to *compare the United States to other nations*.<br><br>
The GSS aims to make high-quality data easily accessible to scholars, students, policy makers, and others, with minimal cost and waiting.

- http://gss.norc.org/faq
- http://gss.norc.org/get-documentation

In [10]:
from bs_ds import *

In [11]:
def check_column(series,nlargest='all'):
    print(f"Column: df['{series.name}']':")
    print(f"dtype: {series.dtype}")
    print(f"isna: {series.isna().sum()} out of {len(series)} - {round(series.isna().sum()/len(series)*100,3)}%")
        
    print(f'\nUnique non-na values:') #,df['waterfront'].unique())
    if nlargest =='all':
        print(series.value_counts())
    else:
        print(series.value_counts().nlargest(nlargest))

In [12]:
def big_pandas():
    pd.set_option('display.max_rows',1000)
    pd.set_option('display.max_columns',None)
big_pandas()

### My Extract - Zodiac and 42 Recent Years Features

In [4]:
# Import data from data csv, columns labels and short hand names from vars.csv
url_data = "https://www.dropbox.com/s/qa0yix5navxubps/GSS_data_utf8.csv?raw=1"
url_vars = "https://www.dropbox.com/s/b1dtw6x0th9y0ag/GSS_vars_utf8.csv?raw=1"
url_codes = "https://www.dropbox.com/s/b5ybrjak0gi9thn/GSS_codes_utf8.csv?raw=1"
df_data =  pd.read_csv(url_data,encoding='utf-8')
df_vars =  pd.read_csv(url_vars,encoding='utf-8')
df_codes =  pd.read_csv(url_codes,encoding='utf-8')
# df_vars = pd.read_excel(url_zod_excel,encoding='latin1', sheet_name='Variables')

C:\Users\james\Anaconda3\envs\learn-env-ext\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_vars.set_index(['Name'],inplace=True)

#### Make a dictionary of the matching Names and Labels from df_vars.

In [6]:
# display(df_codes.groupby('Variable Name').get_group('zodiac'))

In [7]:
df_data.columns = df_vars.index

In [8]:
df_data.head()
target = df_data['zodiac'].copy()

In [9]:
df = pd.DataFrame(target)

In [17]:
df = pd.concat([df, df_data.drop('zodiac',axis=1)],axis=1)

In [18]:
df.head()

,zodiac,cosei10,condom,sexfreq,pikupsex,partners,relpersn,attend,size,region,sexornt,isco88,spisco88,coisco08,cofund,spisco08,isco08,sei10,ballot,cohort,rincome,major2,marital,indus10,occ10,wrkgovt,hrs2,hrs1,wrkstat,id_,martype,divorce,widowed,major1,educ,age,childs,sibs,sphrs2,sphrs1,spwrksta,year
0,Not applicable,-1,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Once a year,72.0,E. nor. central,Not applicable,3416,Not applicable,Not applicable,Not applicable,Not applicable,3323,50.0,Not applicable,1949,Not applicable,Not applicable,Never married,Clothing stores,"Wholesale and retail buyers, except farm products",Not applicable,Not applicable,Not applicable,Working fulltime,1.0,Not applicable,Not applicable,Not applicable,Not applicable,16,23,0,3,Not applicable,Not applicable,Not applicable,1972.0
1,Not applicable,-1,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Every week,72.0,E. nor. central,Not applicable,7510,Not applicable,Not applicable,Not applicable,Not applicable,3122,46.5,Not applicable,1902,Not applicable,Not applicable,Married,Newspaper publishers,First-line supervisors of production and opera...,Not applicable,Not applicable,Not applicable,Retired,2.0,Not applicable,No,Not applicable,Not applicable,10,70,5,4,Not applicable,Not applicable,Keeping house,1972.0
2,Not applicable,-1,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Once a month,72.0,E. nor. central,Not applicable,3413,1319,Not applicable,Not applicable,3334,3334,56.9,Not applicable,1924,Not applicable,Not applicable,Married,Real estate,Real estate brokers and sales agents,Not applicable,Not applicable,Not applicable,Working parttime,3.0,Not applicable,No,Not applicable,Not applicable,12,48,4,5,Not applicable,Not applicable,Working fulltime,1972.0
3,Not applicable,-1,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Never,72.0,E. nor. central,Not applicable,2411,2411,Not applicable,Not applicable,3352,2411,76.3,Not applicable,1945,Not applicable,Not applicable,Married,Clothing stores,Accountants and auditors,Not applicable,Not applicable,Not applicable,Working fulltime,4.0,Not applicable,No,Not applicable,Not applicable,17,27,0,5,Not applicable,Not applicable,Working fulltime,1972.0
4,Not applicable,-1,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,Never,72.0,E. nor. central,Not applicable,4223,8122,Not applicable,Not applicable,8121,4223,31.9,Not applicable,1911,Not applicable,Not applicable,Married,Wired telecommunications carriers,Telephone operators,Not applicable,Not applicable,Not applicable,Keeping house,5.0,Not applicable,No,Not applicable,Not applicable,12,61,2,2,Not applicable,Not applicable,Temp not working,1972.0


### Inspect target 'zodiac'

In [23]:
check_unique(df,['zodiac'])

zodiac has 15 unique values:
Type: object
 Values: ['Not applicable' 'Cancer' 'Scorpio' 'Capricorn' 'Taurus' 'Sagittarius'
 'Libra' 'Gemini' 'Virgo' 'Leo' 'Aquarius' 'Pisces' 'Aries' 'No answer'
 "Don't know" nan]

In [24]:
check_column(df['zodiac'])

Column: df['zodiac']':
dtype: object
isna: 2 out of 64816 - 0.003%

Unique non-na values:
Not applicable    6091
Virgo             5191
Leo               5120
Libra             5082
Cancer            4954
Gemini            4952
Pisces            4834
Aquarius          4674
Aries             4635
Taurus            4555
Capricorn         4521
Sagittarius       4512
Scorpio           4481
No answer         1163
Don't know          49
Name: zodiac, dtype: int64