In [6]:
import bs_ds as bs

In [ ]:
bs.

In [1]:
# import bs_ds.prettypandas as pp
# from bs_ds.bamboo import *
# from bs_ds.imports import *

View our documentation at https://bs-ds.readthedocs.io/en/latest/index.html
For convenient loading of standard modules :
>> from bs_ds.imports import *

                  Module/Package Handle
pandas                               pd
numpy                                np
matplotlib                          mpl
matplotlib.pyplot                   plt
seaborn                             sns

In [2]:
df = pd.read_csv('../plotting_age_released.csv',index_col=0)
# Shortening df for ease of processing.
df = df.iloc[1:1000,:]

In [5]:
def make_CSS(show=False):
    CSS="""
        table td{
        text-align: center;
        }
        table th{
        background-color: black;
        color: white;
        font-family:serif;
        font-size:1.2em;
        }
        table td{
        font-size:1.05em;
        font-weight:75;
        }
        table td, th{
        text-align: center;
        }
        table caption{
        text-align: center;
        font-size:1.2em;
        color: black;
        font-weight: bold;
        font-style: italic
        }
    """
    if show==True:
        from pprint import pprint
        pprint(CSS)
    return CSS
myCSS=make_CSS()
pp.html_on(myCSS)

In [4]:
pp.display_side_by_side(df.describe(),check_null(df, show_df=False))

In [ ]:
def display_side_by_side2(*args,styled=True):
    """Display all input dataframes side by side. Also accept captioned styler df object (df_in = df.style.set_caption('caption')
    Modified from Source: https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side"""
    from IPython.display import display_html
    import pandas
    html_str=''
    for df in args:
        if type(df) == pandas.io.formats.style.Styler:
            html_str+= '&nbsp;'
            html_str+=df.render()
        else:
            html_str+=df.to_html()
        if styled==True:
            from bs_ds.prettypandas import html_on, make_CSS
            CSS_style=[]
            CSS_style = make_CSS()
            CSS = CSS_style+'\n'+'<table> {display:inline}</table>'
            html_display = html_str+'\n'+f'style={CSS}'
#             html_on(CSS_style)
            display_html(html_display,raw=True)



#     display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [ ]:
display_side_by_side2(df.describe(),check_null(df, show_df=False), styled=True)

In [ ]:
# html_str

In [ ]:
inspect_df(df)

In [ ]:
from bs_ds.bamboo import LabelLibrary
lablib=LabelLibrary()

In [ ]:
# df_lab = lablib.fit_transform(df)

In [ ]:
# lablib.index['age_released'].classes_

In [ ]:
# df_lab['age_released'].value_counts().sort_index()

In [ ]:
pd.set_option("display.notebook_repr_html",True)

In [ ]:
# # def make_CSS(show=False):
# CSS="""
#     table.dataframe *{
#         text-align: center;
#     }
#     dataframe.table th{
#         background-color: black;
#         color: white;
#         font-family:serif;
#         font-size:1.2em;
#     }
#     dataframe.table td{
#         font-size:1.05em;
#         font-weight:75;
#     }
#     td, th{
#         text-align: center;
#     }
#     caption{
#     text-align: center;
#     font-size:1.2em;
#     color: black;
#     font-weight: bold;
#     font-style: italic
#     }
# """
# pp.html_on(CSS)

In [ ]:
# copy = df.to_html('test.html')

In [ ]:
df.head()

In [ ]:
import bs_ds.prettypandas as pp
def make_CSS_WIP(show=False):
    CSS="""
        table.dataframe td{
        text-align: center;
        }
        table.dataframe th{
        background-color: black;
        color: white;
        font-family:serif;
        font-size:1.2em;
        }
        table.dataframe td{
        font-size:1.05em;
        font-weight:75;
        }
        table.dataframe td, th{
        text-align: center;
        }
        table.dataframe caption{
        text-align: center;
        font-size:1.2em;
        color: black;
        font-weight: bold;
        font-style: italic
        }
    """
    if show==True:
        from pprint import pprint
        pprint(CSS)
    return CSS
my_CSS = make_CSS_WIP()
pp.html_on(my_CSS)

In [ ]:
stop

In [ ]:
data_nonrecid = df_lab.groupby('recidivist')['age_released'].get_group(0)

data_recid = df_lab.groupby('recidivist')['age_released'].get_group(1)

In [ ]:
lablib.index['age_released'].classes_
# lablib.index['recidivist'].

In [ ]:
fig, ax = plt.subplots(1)
ax.bar(].)

In [ ]:
# df.groupby(['recidivist'])['age_released'].hist()#value_counts()

labels = lablib.index['age_released'].classes_
labels

In [ ]:
fig = df_lab.groupby('recidivist')['age_released'].hist()
fig.set_xticklabels=labels

In [ ]:
# Get group of recivisits